<div class="easyui-accordion" data-options="fit:true,border:false">
    <div title="图片管理" data-options="selected:true" style="padding: 10px;">
        <p><a href="http://edit.guadi.com/usermanage/index" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
    </div>
    <div title="产品管理" style="padding: 10px;">
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
    </div>
    <div title="作品管理" style="padding: 10px">
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
    </div>
    <div title="商品管理" style="padding: 10px">
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
    </div>
    <div title="用户管理" style="padding: 10px">
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
        <p><a href="#" class="easyui-linkbutton" data-options="plain:true">图片审核</a></p>
    </div>
</div>
